<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DLogDB" connectionString="metadata=res://*/DLogDBModel.csdl|res://*/DLogDBModel.ssdl|res://*/DLogDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DLogDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>