@{
    ViewBag.Title = "Footer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderLink
{
    <style type="text/css">
        body {
            background-color: #b6b6b6;
        }
    </style>


}
<p>&copy;Copyright 2015 Ctrip Computer Technology (Shanghai) Co.,Ltd. All rights</p>
