@{
    ViewBag.Title = "Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderLink
{
    <style type="text/css">
        body {
            background-image:url(../../DLogSite/Content/images/header_bg.png);
            background-repeat:repeat-x;
            color:#ffffff;
        }

    </style>    


}

<div class="header">
    <h3>DLog后台管理</h3>
</div>
