@{
    ViewBag.Title = "Workspace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderLink
{
    <style type="text/css">
        body {
            /*background-color: #708090;*/
        }
    </style>


}

<h2>Workspace</h2>
